{% extends 'layout.html' %}
{% load static %}


{% block title %}Ваши впечатления | Places Remember{% endblock %}


{% block content %}
    {% if impressions %}
        <div class="impressions__inner">
            <a class="btn btn-warning impressions__inner-btn" href="{% url 'impressions:impressions_create' %}"><i class="fas fa-plus-circle"></i> Добавить воспоминание</a>
            {% for imp in impressions %}
                <div class="impressions__inner-item">
                    <img>{{ imp.location }}</img>
                    <h2>{{ imp.title }}</h2>
                    <p>{{ imp.description }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="container">
            <div class="impressions__inner">
                <h2>У вас нет ни одного воспоминания!!!</h2>
                <a class="btn btn-warning impressions__inner-btn" href="{% url 'impressions:impressions_create' %}"><i class="fas fa-plus-circle"></i> Добавить воспоминание</a>
            </div>
        </div>
    {% endif %}
{% endblock %}