{% extends 'layout.html' %}
{% load static %}


{% block title %}Ваши впечатления | Places Remember{% endblock %}


{% block content %}
    {% if True %}
        <p>{{ user.name }}</p>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
        <p>{{ user_name }}</p>
        <p>{{ user_photo }}</p>
        <p>{{ user_info }}
        <p>{{ name }}</p>
        <img src="{{ photo_url }}" alt='afs'>
        <img src="{{ user.social_auth.extra_data.photo }}" alt="Ваша фотография">
        <p></p>

        <div class="impressions__inner">
            <a class="btn btn-warning" href=""><i class="fas fa-plus-circle"></i> Добавить воспоминание</a>
            <div class="impressions__inner-item">

            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="impressions__inner">
                <h2>У вас нет ни одного воспоминания!!!</h2>
                <a class="btn btn-warning" href=""><i class="fas fa-plus-circle"></i> Добавить воспоминание</a>
            </div>
        </div>
    {% endif %}

{% endblock %}