{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block title %}Создать впечатление | Places Remember{% endblock %}


{% block content %}
<div class="impressions-create">
    <h1 class="impressions-create__title">Создать впечатление</h1>
    <form method="POST" enctype="multipart/form-data" class="leaflet-map">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="impressions-create__button" type="submit" value="Сохранить">
    </form>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrC43lCAa206cM_EQgJULlffVIVWo9-78"></script>

{% endblock %}