{% extends 'layout.html' %}
{% load static %}


{% block title %}О веб-приложении | Places Remember{% endblock %}


{% block content %}
    <div class="index__inner">
        <p class="index__inner-description">
            Сайт "Places Remember" - это удобный сервис где вы можете сохранить свои любимые места на карте и хранить воспоминания о них! Мы уверены, что каждый человек в своей жизни посещал места, которые оставляют незабываемое впечатление. Может быть это были путешествия в другие страны, прогулки по уютным улочкам родного города или вечерние прогулки в парке. Через наш сервис вы сможете сохранить эти моменты.
 Присоединяйтесь и начните делиться своими воспоминаниями уже сегодня!
        </p>
        <div class="index__actions">
            <button class="index__inner-vk">
                <i class="fa-regular fa-address-card"></i>Войти с помощью VK</button>
        </div>
    </div>

{% endblock %}